$color_primary: #c5c8d2;
$border_style: solid 2px #b5bac9;

@mixin tabular_main($color: black) {
  font-size: 14px;
  font-weight: 700;
  color: $color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 600;
  color: $color_primary;
  background-color: $color_primary;
}

sup {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.visually__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  margin: 70px auto;
}

/*******************Buttons********************/

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: $color_primary;
}

button:hover {
  cursor: pointer;
  background-color: rebeccapurple;
}

.back__btn::before {
  content: "";
  background-image: url(../images/icons/arrow_left.svg);
  width: 30px;
  height: 25px;
  margin-right: 5px;
}

.sign-in__btn::before {
  content: "";
  background-image: url(../images/icons/user.svg);
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.submit__btn {
  background-color: #319871;
  color: white;
}

/********************FORM***************************/

#order__form {
  background-color: white;
  border: $border_style;
}

.order__detailed {
  display: flex;
  justify-content: space-between;
  border-bottom: $border_style;

  footer {
    width: 35%;
    padding: 20px;
    margin: 0 20px 0 40px;

    h3 {
      display: inline-flex;
      align-items: center;
      @include tabular_main;
      margin: 0 0 15px -30px;
    }
    h3::before {
      content: "";
      background-image: url(../images/icons/help.svg);
      width: 30px;
      height: 30px;
    }

    address {
      font-style: normal;

      p {
        margin-bottom: 15px;
      }

      div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
          text-decoration: none;
          color: black;
        }

        a:nth-child(1) {
          margin-right: 10px;
        }
      }
    }
  }
}

.order__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-right: $border_style;

  table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
    margin: 0 40px;

    caption {
      display: flex;
      align-items: center;
      text-align: left;
      font-size: 16px;
      font-weight: 700;
      margin-left: -30px;
      color: black;
    }
    caption::before {
      content: "";
      background-image: url(../images/icons/order.svg);
      width: 30px;
      height: 30px;
    }

    th {
      @include tabular_main;
    }
  }
}

.order__buttons {
  button:first-child {
    margin-bottom: 10px;
  }
}
