.page {
  line-height: 1.5;
  font-family: Aria, sans-serif;
  font-size: 15px;
}

.page__logo {
  width: min(6.9vw, 120px);
  height: min(6.9vw, 120px);
}

.page__form {
  margin-bottom: min(9vw, 157px);
}

.page__container {
  max-width: 1380px;
  margin: 0 min(10vw, 180px);
}

.page__container--flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .page__container {
    margin: 0 3vw;
  }
}
.page__body {
  margin: 0;
  font-size: 0.74rem;
  font-weight: bold;
  color: var(--text-color-secondary);
  background-color: var(--bg-primary);
}

/* Footer */

.page__footer {
  width: 100%;
  padding: min(6.3vw, 110px) 0;
  color: #f5f5f5;
  background-color: #414457;
}

.page__footer-icon {
  fill: #f5f5f5;
}
.page__footer-section {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 3em;
}
.page__footer-title {
  position: relative;
  margin: 0;
  text-transform: uppercase;
}
.page__footer-text {
  margin: 0;
}
.page__footer-text--italic {
  font-style: italic;
}

.page__footer-address {
  line-height: 2;
  font-style: normal;
}
.page__footer-link {
  color: #f5f5f5;
}
.page__footer-list {
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  list-style-type: none;
}

.page__footer-list-item {
  display: flex;
  align-items: center;
  gap: 2em;
  line-height: 2;
}
