@font-face {
  font-family: Oxygen;
  src: url(../assets/fonts/Oxygen-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Oxygen;
  src: url(../assets/fonts/Oxygen-Bold.ttf) format("truetype");
  font-weight: bold;
  font-display: swap;
}
