:root {
  --bg-primary: #e7eaee;
  --bg-primary-light: #eeeff5;
  --text-color-primary: #484747;
  --text-color-secondary: #909193;
  --border-color: #b5bac9;
  --active-color-primary: #65a6e5;
  --active-color-secondary: #ff8c00;
  --color-dark: #5b5c64;
  --color-light: #f5f5f5;
  --submit-btn-color: #36b493;
  --doc-type-breakpoint:25rem;
}
